.App {
  background-color: #000;
  /*#282c34;*/
  min-height: 100vh;
  color: white;
}

h1 {
  color: rgb(230, 218, 165);
}

a {
  color: lightskyblue !important;
}

/*--- Nav ---*/

.bg-navbar {
  background-image: linear-gradient(180deg, #000 0%, #000 50%, #0000 100%);
}

.nav-link {
  position: relative;
  color: #fff !important;
}

.nav-link:hover {
  color: lightblue !important;
}

.nav-link::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 0%;
  content: ' ';
  height: 3px;
  transition: all 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-selected {
  position: relative;
  color: lightblue !important;
}

.nav-link-selected::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  width: 100%;
  content: ' ';
  height: 3px;
  transition: all 0.5s;
}

/*--- Card ---*/

.card {
  transition: .1s transform cubic-bezier(.15, 1.1, .5, 1.5), .1s -webkit-transform cubic-bezier(.15, 1.1, .5, 1.5);
}

.card:hover {
  transform: scale(1.025);
}

/* Youtube video responsive 50% */

.video-responsive-50 {
  height: 0;
  overflow: hidden;
  padding-bottom: 28.125%;
  /* half of 56.25, 16:9 proportion */
  padding-top: 30px;
  position: relative;
}

.video-responsive-50 iframe, .video-responsive-50 object, .video-responsive-50 embed {
  margin-left: 25%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

/* Youtube video responsive no vorders */

.frame-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  width: 300%;
  /* enlarge beyond browser width */
  left: -100%;
  /* center */
}

.frame-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  max-width: 100%;
}