
.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

h1{
  color: rgb(230, 218, 165);
}

.bg-navbar {
  background-image: linear-gradient(180deg, #000 0%, #000 50%, #0000 100%); 
  }